<template>
  <ul v-if="produtos.length">
    <li v-for="(produto, indice) in produtos" :key="indice">
      <p>{{ produto.nome }}</p>
      <p>{{ produto.preco }}</p>
      <div class="remover-item-carrinho">
        <button
          class="button is-danger is-small"
          @click="removeItensCarrinho(indice)"
        >
          Remover
        </button>
      </div>
    </li>
    <div class="finalizar">
      <div class="preco-total">
        <span>Subtotal ({{state.quantidadeProdutos()}} itens): </span>
        <span id="sub-total">{{state.valorTotalProdutos()}}</span>
      </div>
      <button class="button is-warning">Fechar Pedido</button>
    </div>
  </ul>
  <ul v-else>
    <li>Não há itens no carrinho</li>
  </ul>
</template>
<script>
import { reactive } from '@vue/reactivity';
import { removeItensCarrinho } from "../../../store";

export default {
  props: ["produtos"],
  setup(props) {
    const state = reactive({
      valorTotalProdutos: () => {
        let valorTotal = 0;
        props.produtos.forEach(element => {
          valorTotal += Number(element.preco.slice(3));
        });

        return 'R$ ' + valorTotal.toFixed(2);
      },
      quantidadeProdutos: () => {
        return props.produtos.length;
      }
    })


    return {
      removeItensCarrinho,
      state
    };
  },
};
</script>

<style scoped>
ul {
  background-color: #ffffff;
  position: absolute;
  width: 15em;
  padding: 10px;
  margin-top: 1em;
  padding-top: 1em;
  right: 5px;
  overflow-y: auto;
  box-shadow: #797979 -3px 6px 9px -1px;
  max-height: 60vh;
}

ul li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #cccccc78;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

ul li p {
  padding-top: 0.5rem;
}

ul li p:last-child {
  font-weight: bolder;
}

.is-small {
  font-size: 11px;
  padding: 5px;
  float: right;
}

.finalizar {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.preco-total {
    padding: 1rem 0.2rem 1rem 0.2rem;
    font-size: 0.9rem;
}

#sub-total {
  font-weight: bolder;
}
</style>
