<template>
  <section>
    <div class="cabecalho-cadastro">
      <material-icon type="mdi" :path="mdiAccountCheckOutline" size="40" />
      Cadastro
    </div>

     <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input
          class="input"
          v-model="name"
          type="text"
          placeholder="Nome"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">E-mail</label>
      <div class="control">
        <input
          class="input"
          type="email"
          placeholder="e.g. alexsmith@gmail.com"
          v-model="email"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <div class="control">
        <input
          class="input"
          v-model="password"
          type="password"
          placeholder="Senha"
        />
      </div>
    </div>

    <div class="buttons">
      <button class="button" @click="$router.push({ name: 'home' })">
        <material-icon type="mdi" :path="mdiArrowLeft" size="20" />
      </button>
      <button class="button is-success" @click="enviarItemCarrinho()">
        Cadastrar
      </button>
    </div>
  </section>
</template>


<script>
import { mdiAccountCheckOutline, mdiArrowLeft } from "@mdi/js";
import { requersPost } from "../../services/http/index";
import { ref } from "@vue/reactivity";
export default {
  setup() {
    const email = ref("");
    const password = ref("");
    const name = ref("");



    const enviarItemCarrinho = () => {
      console.log(name.value + "   " + email.value + "  " + password.value);
      if (email == "") {
        alert("preencha o campo email por favor");
        return;
      }

       if (name == "") {
        alert("preencha o campo nome por favor");
        return;
      }

      if (password == "") {
        alert("preencha o campo senha por favor");
        return;
      }

      requersPost("http://127.0.0.1:8000/api/user", {
        name: 'turma',
        email: 'email@email',
        password: 'gdjhbkn'
      }).then((Response) => {
        console.log(Response.data);
      });
    };

    return {
      mdiAccountCheckOutline,
      mdiArrowLeft,
      email,
      password,
      enviarItemCarrinho,
      name
    };
  },
};
</script>

<style scoped>
section {
  max-width: 30em;
  margin: auto;
  display: flex;
  box-shadow: #00000073 1px 4px 16px 0px;
  background-color: #00000003;
  padding: 15px;
  margin-top: 5em;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}
.cadastro button {
  width: 100%;
}
.cabecalho-cadastro {
  margin: auto;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5.7em;
  font-size: 2em;
}

::-webkit-input-placeholder {
  color: red;
}

:-moz-placeholder {
  color: red;
}

::-moz-placeholder {
  color: red;
}

:-ms-input-placeholder {
  color: red;
}
</style>
